<div class="header-logo">
    <img src="/assets/inicie-logo.png">
</div>

<div class="header-images">
    <div>
        <img src="/assets/pokemon-card-1.png">
    </div>
    <div class="pokemon-card-below">
        <img src="/assets/pokemon-card-2.png">
    </div>
    <div>
        <img src="/assets/pokemon-card-3.png">
    </div>
</div>

<div class="pokemon-title-head" >
    <h2 class="pokemon-title">
        Explore o mundo dos  <span class="pokemon-color">Pokémons </span>
    </h2>
    <p class="pokemon-subtitle">Descubra todas as espécies de Pokémons</p>
    <div class="search-pokemon">
        <input class="search-input" type="text" name="buscar" id="buscar">
        <button class="search-button">Buscar</button>
    </div>
</div>


<div class="pokedex-title">
    <h3>Pokédex</h3>
</div>

<div class="pokemon-grid">
    <app-pokemon-card *ngFor="let pokemon of pokemons" [pokemon]="pokemon">

    </app-pokemon-card>
</div>
