<a routerLink="pokemon-datails">
    <div class="pokemon-card">

        <div class="header-card">
            <b class="pokemon-name">Pidgeotto</b>
            <p class="pokemon-cod">#COD</p>
        </div>
    
        <div class="pokemon-image">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/132.png" alt="">
        </div>
    
        <div class="pokemon-footer-card">
            <div class="pokemon-titles">
                <p>Altura:</p>
                <p>Peso:</p>
            </div>
            <div class="pokemon-values">
                <b>1.10cm</b>
                <p>30kg</p>
            </div>
        </div>
    
    
    
    </div>
</a>
