<div>
    <div class="header-logo">
        <img src="/assets/inicie-logo.png">
    </div>

    <div class="header-title">
        <h2 class="pokemon-name">
            Charmeleon
        </h2>
    </div>
    
    <div class="header-title">
        <h2 class="pokemon-subtitle">
            Cod:
        </h2>
        <p class="pokemon-cod">
            #0034
        </p>
    </div>
    
    <div class="header-title-type">
        <h2 class="pokemon-subtitle-type">
            Tipo:
        </h2>
        <div class="pokemon-type">
            <p>Fogo</p>
        </div>
    </div>

    <div class="pokemon-image">
        <img src="/assets/example-logo.png" >
    </div>

    <div>
        <h2 class="pokemon-title-description">
            Descrição
        </h2>
    </div>

    <div class="pokemon-description">
        <p>"Charmeleon destrói seus oponentes sem pena com suas garras afiadas. Torna-se agressivo quando encontra um oponente forte e então a chama na ponta da sua cauda queima intensamente em uma cor azulada."</p>
    </div>

    <div>
        <h2 class="pokemon-title-info">
            Informações
        </h2>
    </div>

    <div class="pokemon-sub-infos">
        <div class="pokemon-titles">
            <p>Altura:</p>
            <p>Peso:</p>
        </div>
        <div class="pokemon-values">
            <b>1.10cm</b>
            <p>30kg</p>
        </div>
    </div>

    <div class="pokemon-attribute">
        <p class="pokemon-title-attribute">Vida:</p>
        <div class="box-color"> 
        </div>
    </div>

    <div class="pokemon-attribute">
        <p class="pokemon-title-attribute">Defesa:</p>
        <div class="box-color"> 
        </div>
    </div>

    <div class="pokemon-attribute">
        <p class="pokemon-title-attribute">Velocidade:</p>
        <div class="box-color"> 
        </div>
    </div>

    <div class="pokemon-attribute">
        <p class="pokemon-title-attribute">Ataque:</p>
        <div class="box-color"> 
        </div>
    </div>

</div>