<div class="pokemon-card">

    <div class="header-card">
        <p class="pokemon-name"> NOME </p>
        <p class="pokemon-id"> ID </p>
    </div>

    <div class="pokemon-image">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/132.png" alt="">
    </div>

    <div class="footer-card">
        <div class="altura">
            <b>Altura:</b>
            <p>1.10cm</p>
        </div>
        <div class="peso">
            <b>Peso:</b>
            <p>30kg</p>
        </div>
    </div>



</div>